* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #f5f9fc;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
section p {
  color: grey;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: white;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  transition: all 80ms ease-out;
  z-index: 999;
}

nav.scrolled {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
}

nav ul {
  display: flex;
  margin-left: auto;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding: 0 1rem;
}
nav ul li a {
  text-decoration: none;
  color: #888888;
  text-transform: uppercase;
}
ul li.search button {
  --size: 35px;
  border-radius: 50%;
  border-color: transparent;
  background-color: white;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
}
ul li.search button:hover {
  --size: 35px;
  border-radius: 50%;
  color: black;
  background-color: #f5f9fc;
  height: var(--size);
  width: var(--size);
}
/* section {
  height: 100vh;
  display: flex;
  padding: 19rem;
  font-size: 1rem;
  align-items: center;
} */
main {
  margin-top: 30vh;
}
main img {
  padding: 100px;
}
main h1,
p {
  text-align: center;
}
section:nth-child(odd) {
  background-color: #f5f5f5;
}
ul li.trial button {
  background-color: #07bd80;
  padding: 200 px;
  border-color: transparent;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
