* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #f5f9fc;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
section p {
  color: grey;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: white;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  transition: all 80ms ease-out;
  z-index: 999;
}

nav.scrolled {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
}

nav ul {
  display: flex;
  margin-left: auto;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding: 0 1rem;
}
nav ul li a {
  text-decoration: none;
  color: #888888;
  text-transform: uppercase;
}
ul li.search button {
  --size: 35px;
  border-radius: 50%;
  border-color: transparent;
  background-color: white;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
}
ul li.search button:hover {
  --size: 35px;
  border-radius: 50%;
  color: black;
  background-color: #f5f9fc;
  height: var(--size);
  width: var(--size);
}

.message {
  margin: auto;
  text-align: center;
  height: 100px;
  width: auto;
  position: absolute;
  top: -25%;
  bottom: 0;
  left: 0;
  right: 0;
}
.message .text {
  width: 280px;
  height: 60px;
  margin: auto;
  padding: 0;
}
.message h1 {
  font-size: x-large;
  color: #11223e;
}
.message p {
  margin: auto;
  text-align: center;
  width: 200px;
  font-size: small;
  color: #888888;
}

img {
  margin-top: 10px;
  height: 320px;
  /* border: 1px solid black; */
}

ul li.trial button {
  background-color: #07bd80;
  padding: 200 px;
  border-color: transparent;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  ul li.trial button {
    padding: 2.5px 5px;
    font-size: 10px;
    border-radius: 4px;
    margin-right: -22px;
  }

  .message {
    height: 0;
    top: -45%;
  }
  .message .text {
    width: 140px;
    height: 60px;
    margin: auto;
    padding: 0;
  }
  .message h1 {
    font-size: large;
    margin-bottom: 5px;
  }
  .message p {
    margin: auto;
    width: 130px;
    font-size: xx-small;
    color: #b1b0b0;
  }
  span {
    font-size: small;
  }
  nav {
    height: 40px;
  }
  img {
    height: 200px;
  }
}
